

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* override default brand class behavior in navbar to keep the name bright */

.navbar-inverse .navbar-inner {
	background-color: #405d53;
	background-image: none;
}
.navbar-inverse .brand {
	color: #ffffff;
	line-height: 20px;
	margin: 0px;

}

/* styles for a pull-out */

.s-pullout {
	padding: 20px;
	padding-top: 0px;
	border-radius: 1em;
	border: 1px solid grey;
}
/* styles for the related widget */

.s-related {
	background-color: grey;
	padding: 20px;
	padding-top: 0px;
	border-radius: 1em;
}



/* styles for chicklet and social icons */

.s-chicklet-btn {
	max-width: 15px;
	max-height: 15px;
	padding-right: 12px;
}

/* row styles */

.s-asearch {
	padding-right: 12px;
}

/* footnote styles */

.footnote-refs, .footnote-tgt {
 font-size: .83em;
    line-height: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
.title {
	font-style: italic;
}

/* styles for names */
.placeName {
 font-weight: bold;
}

/* styles for languages and scripts */

:lang(syr),:lang(syc) {
 font-family: "Estrangelo Edessa", Verdana, Arial, Helvetica, sans-serif;
  font-size:larger;
}
:lang(syr-Syrj), :lang(syc-Syrj) {
 font-family: "Serto Batnan", Verdana, Arial, Helvetica, sans-serif;
  font-size:larger;
}

:lang(syr-Syre), :lang(syc-Syre) {
 font-family: "East Syriac Adiabene", Verdana, Arial, Helvetica, sans-serif;
  font-size:larger;
}

:lang(ar) {
 font-family: Amri, "Al Bayan", Baghdad, "DecoType Naskh", "Geeza Pro", Geezah, KufiStandardGK, Nadeem, DejaVu, Tahoma, Helvetica, sans-serif;
 font-size:larger;
}

.tab-pane {
	padding: 1em;
	padding-top: 1.5em;
	border-left: 1px solid rgb(221, 221, 221);
	border-bottom: 1px solid rgb(221, 221, 221);
	border-right: 1px solid rgb(221, 221, 221);
	border-radius: 3px;
}

.tab-pane ul {
	margin-left: 1em;
	margin-right: 1em;
}


#nametabs {
	margin-bottom: 0px;
}


#link-icons {
	float: right;
}

#link-icons > a {
	padding-right: 0.5em;
}

#sources ul {
	list-style-type: none;
	padding-left: -0.1em;
	text-indent: -1em;
}